@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 209 41% 16%;

    --muted: 214 47% 97%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 209 41% 16%;

    --card: 0 0% 100%;
    --card-foreground: 209 41% 16%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 206 41% 24%;
    --primary-foreground: 214 47% 97%;

    --secondary: 206 50% 94%;
    --secondary-foreground: 206 41% 24%;

    --accent: 206 50% 94%;
    --accent-foreground: 206 41% 24%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 203 48% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
